table, tr {
  width: 100%;
}

td, th {
  text-align: center;
}

body {
  padding-left, padding-right: 10%;
  padding-top: 5%;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  height: 2em;
}