<html>
  <head>
    <title>Students' Records </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type = "text/css" href="css/style.css">
    <script src="js/module.js"></script>
    <script src="js/controller.js"></script>
    <!-- <script src="js/directives.js"></script> -->
</head>
  <body>
    <div class="container">
      <div ng-app="studentApp" ng-controller="studentCntrl">
        <div class="well">Records<input type="button" class="btn btn-warning" value="Export" style="float: right" ng-click="export()"></div>
        <table class="table table-hover">
          <tr>
            <th>MIS</th>
            <th>Name</th>
            <th>Year of Admission</th>
            <th>Fees</th>
            <th>CGPA</th>
          </tr>
          <tr ng-repeat="user in names">
            <td> <input type="text" ng-model="user.mis" disabled="disabled"></td>
            <td> <input type="text" ng-model="user.name"></td>
            <td> <input type="text" ng-model="user.year"></td>
            <td> <input type="text" ng-model="user.fees"></td>
            <td> <input type="text" ng-model="user.cgpa"></td>
            <td> <button class="btn btn-danger" ng-click= "delete( $index )"> Delete </button> </td>
            <td> <button class="btn btn-primary" ng-click= "update( user)"> Update</button> </td> 
          </tr>
        </table>
        <div class="well"> New Entry </div>
        <form novalidate>
          <table class="table table-hover">
            <tr>
              <td> <input type="text" placeholder="MIS" ng-model="mis" numDirective><br></td>
              <td> <input type="text" placeholder="Name" ng-model="name"><br></td>
              <td> <input type="text" placeholder="Year" ng-model="year" numDirective><br></td>
              <td> <input type="text" placeholder="Fees" ng-model="fees" numDirective><br></td>
              <td> <input type="text" placeholder="CGPA" ng-model="cgpa" numDirective><br></td>
              <!-- Alert box , validation -->

              <td> <input type="submit" class="btn btn-success" ng-click= "add( mis, name, year, fees, cgpa)" value="Add">  </td>
            </tr>
          </table>
        </form>
      </div>
    </body>
    </div>    
<html>